<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Omarchy XR</vendor>
  <vendor_url>https://github.com/afruth/omarchy-xr</vendor_url>
  <action id="io.github.afruth.omarchy-xr.display">
    <description>Reserve a VITURE display for Omarchy XR</description>
    <message>Authorize temporary VITURE display handoff</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/omarchy-xr/omarchy-xr-display</annotate>
  </action>
</policyconfig>
